header {
  display:block;
  vertical-align: top;
}

header>nav>ul>li {
  display: inline;
  list-style: none;
  border: 1px black solid;
  padding: 5px;
}

footer>ul>li {
  display: inline;
  list-style: none;
  border: 1px black solid;
  padding: 5px;
}

footer {
  display: block;
  vertical-align: bottom;
}

.cart {
  display: block;
  padding: 5px;
  border: 1px solid black;
}

.product-review {
  display: block;
  padding: 5px;
  border: 1px solid black;
}